.fixed-header{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: burlywood;
    color: bisque;
    padding: 10px;
    text-align: center;
}
body{
    padding-top: 100px;
    color: blue;
}
main{
    height: 2000px;
    color: red;
}